*.class
*.iml
/.iml
.metadata
.classpath
.settings
.project
.idea
.idea/*
.iml
*META-INF*
.idea/artifacts/Scrimmage_ear_exploded.xml

Scrimmage/META-INF/application.xml

Scrimmage/Scrimmage.iml

Overcast-Scrimmage.iml
/bin
/target
